{% extends "base.html" %}
{% load plotly_dash %}

{% block title %}Data Visualization{% endblock title %}

{% block css_links %}
{% endblock css_links %}

{% block js_libs %}
{% endblock js_libs %}

{% block custom_js %}

{% endblock custom_js %}

{% block title_content %}
<h1 class="h3 mb-0 text-gray-800">MIL Visualization / Data Representation</h1>
{% endblock title_content %}

{% block content %}
<div class="row">
  <h2 class="text-gray-800">{{ title_dataset }}</h2>
</div>

<div class="row">
  <!-- Area Chart -->
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Graph Chart</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-area">
          {% plotly_app name="network_radar" ratio=0.5 %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}