{% extends "base.html" %}
{% load plotly_dash %}

{% block title %}Data Representation{% endblock title %}

{% block css_links %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
{% endblock css_links %}

{% block js_libs %}
<script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
{% endblock js_libs %}

{% block custom_js %}
<script>
    $(function () {
        $('#reduction-tab').hide();

        var $datatable = $('#datatable');
        $datatable.bootstrapTable({
            toolbar: '#toolbar',
            striped: true,
            pagination: true,
            showColumns: true,
            showToggle: true,
            showExport: true,
            sortable: true,
            paginationVAlign: 'both',
            pageSize: 10,
            pageList: [10, 25, 50, 100, 'ALL'],
            // columns: {{ columns| safe }},  // here is where we use the column content from our Django View
            data: {{ data| safe }}, // here is where we use the data content from our Django View. we escape the content with the safe tag so the raw JSON isn't shown.
        });

    $('#datatable-describe').bootstrapTable({
        toolbar: '#toolbar-describe',
        striped: true,
        pagination: true,
        showColumns: false,
        showToggle: true,
        showExport: true,
        sortable: true,
        paginationVAlign: 'both',
        pageSize: 10,
        pageList: [10, 25, 50, 100, 'ALL'],
        columns: {{ columns_describe| safe }},  // here is where we use the column content from our Django View
        data: {{ data_describe| safe }}, // here is where we use the data content from our Django View. we escape the content with the safe tag so the raw JSON isn't shown.
    });

    var $myForm = $('#reduction-form');
    $myForm.submit(function (event) {
        event.preventDefault();
        reductionAjax();
    });

    function handleFormSuccess(data, textStatus, jqXHR) {
        console.log(data)
        console.log(textStatus)
        console.log(jqXHR)

        if ("error" in data) {
            $(".top-message-error").clone().addClass('top-message-error-clone').appendTo(".top-messages");
            $(".top-messages").show('fast');
            $(".top-message-error-clone").show('fast');
            $(".top-message-error-clone .alert-error").prepend(data['error']);
            $(document).scrollTop(0);
            return;
        }

        $('#reduction-tab').show();
        $('#datatable-reduction').bootstrapTable('destroy');
        $('#datatable-reduction').bootstrapTable({
            toolbar: '#toolbar-reduction',
            striped: true,
            pagination: true,
            showColumns: false,
            showToggle: true,
            showExport: true,
            sortable: true,
            paginationVAlign: 'both',
            pageSize: 10,
            pageList: [10, 25, 50, 100, 'ALL'],
            data: JSON.parse(data["df_main_reduction"]),
            columns: data["columns"],
        });
    };

    var $kde_checked = $('#bag_simplification_reduction');
    $kde_checked.change(function () {
        reductionAjax();
    });

    function reductionAjax() {
        var $formData = $myForm.serializeArray();
        var $thisURL = $myForm.attr('data-url');
        $formData.push({
            'name': 'bag_simplification',
            'value': $kde_checked.val()
        });
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
            beforeSend: handleBeforeSend,
            complete: handleComplete,
        });
    }

    var modal = null;
    $('#dataModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var url = button.data('url');
        var attr = button.data('attr');
        data = {
            attr: attr
        }
        modal = $(this)
        $.ajax({
            method: "GET",
            url: url,
            data: data,
            success: handleFormSuccessData,
            error: handleFormError,
            beforeSend: handleBeforeSend,
            complete: handleComplete,
        });

    });

    function handleFormSuccessData(data, textStatus, jqXHR) {
        console.log(data);
        console.log(textStatus);
        console.log(jqXHR);

        modal.find('.modal-body').html(data);
        modal.find('.modal-title').text('Distribution');
        $('.distribution-chart').append(data);
    };

    var $kde_checked_data = $('#bag_simplification');
    $kde_checked_data.change(function () {
        var url = "{% url 'data-bag-simplification' %}";
        var data = [{
            'name': 'csrfmiddlewaretoken',
            'value': $myForm.find(':hidden').val()
        }];
        data.push({
            'name': 'bag_simplification',
            'value': $kde_checked_data.val()
        });
        $.ajax({
            method: "POST",
            url: url,
            data: data,
            success: handleFormSuccessKdeChecked,
            error: handleFormError,
            beforeSend: handleBeforeSend,
            complete: handleComplete,
        });
    });

    function handleFormSuccessKdeChecked(data, textStatus, jqXHR) {
        console.log(data)
        console.log(textStatus)
        console.log(jqXHR)

        $('#datatable').bootstrapTable('destroy');
        $('#datatable').bootstrapTable({
            toolbar: '#toolbar',
            striped: true,
            pagination: true,
            showColumns: true,
            showToggle: true,
            showExport: true,
            sortable: true,
            paginationVAlign: 'both',
            pageSize: 10,
            pageList: [10, 25, 50, 100, 'ALL'],
            // columns: data["columns"],
            data: JSON.parse(data["bag_simplification"])
        });
    };

    var urlVisualization = null;
    $("#visualizeOriginal").click(function (event) {
        event.preventDefault();
        var $checkedInputs = $('.dropdown-menu.dropdown-menu-right .dropdown-item input[type=checkbox]').not(':checked');
        var checkedFields = [];
        $checkedInputs.each(function () {
            checkedFields.push($(this).data("field"));
        });
        var data = [
            {
                'name': 'csrfmiddlewaretoken',
                'value': $myForm.find(':hidden').val()
            },
            {
                'name': 'columns',
                'value': checkedFields
            }
        ];
        $.ajax({
            method: "POST",
            url: $(this).attr('href'),
            data: data,
            success: handleFormSuccessColumns,
            error: handleFormError,
            beforeSend: handleBeforeSend,
            complete: handleComplete,
        });
        urlVisualization = $(this).attr('href');
    });

    function handleFormSuccessColumns(data, textStatus, jqXHR) {
        console.log(data);
        console.log(textStatus);
        console.log(jqXHR);
        window.location.href = urlVisualization;
    };

    $myForm.trigger("submit");
});
</script>
{% endblock custom_js %}

{% block title_content %}
<h1 class="h3 mb-0 text-gray-800">{{ title_dataset|capfirst }}</h1>
{% endblock title_content %}

{% block content %}

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Positive bags</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ positive_bags }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-plus fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Negative Bags</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ negative_bags }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-minus fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Positive Instances</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ positive_instances }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-plus fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Negative Instances</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ negative_instances }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-minus fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Attributes</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ attributes }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-bookmark fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Bags</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_bags }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-bookmark fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Instances</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_instances }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-bookmark fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-6 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Reduction Options</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    {% include "reduction_form.html" %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-12 distribution-card">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Distribution Chart</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <!-- Chart -->
                    <div class="distribution-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#data" role="tab" aria-controls="home"
            aria-selected="true">Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="describe-tab" data-toggle="tab" href="#data-describe" role="tab" aria-controls="profile"
            aria-selected="false">Data Describe</a>
    </li>
    <li class="nav-item" id="reduction-tab">
        <a class="nav-link" id="reduction-tab" data-toggle="tab" href="#data-reduction" role="tab"
            aria-controls="profile" aria-selected="false">Data Reduction</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="home-tab">
        <div id="toolbar">
            <a id="visualizeOriginal" class="btn btn-success" href="{% url 'data-visualization-dash' %}"
                data-toggle="tooltip" title="Click here to visualize the current table">
                <i class="glyphicon glyphicon-signal"></i> Visualize
            </a>
            <div class="form-group bag-simplification" id="algorithms_reduction">
                <label data-toggle="tooltip" title="This option allows reducting the number of instance in each bag">Bag
                    simplification</label><br>
                <div id="radioBtn" class="btn-group radio-btn">
                    {% for bs in reduction_form.bag_simplification.field.choices %}
                    <a class="btn btn-primary btn-sm {% if bs.0 == reduction_form.bag_simplification.value %}active{% else %}notActive{% endif %}"
                        data-toggle="bag_simplification" data-title="{{ bs.0 }}">
                        {{ bs.1 }}
                    </a>
                    {% endfor %}
                </div>
                <input type="hidden" name="bag_simplification" id="bag_simplification"
                    value="{{ reduction_form.bag_simplification.value }}">
            </div>
        </div>
        <table id='datatable' data-toolbar="#toolbar" data-search="true" data-show-refresh="true"
            data-show-toggle="true" data-show-fullscreen="true" data-show-columns="true" data-show-export="true"
            data-click-to-select="true" data-detail-formatter="detailFormatter" data-minimum-count-columns="2"
            data-show-pagination-switch="true" data-pagination="true" data-id-field="id"
            data-page-list="[10, 25, 50, 100, all]" data-show-footer="true">
            <thead>
                <tr>
                    {% for col in columns %}
                    <th data-field="{{ col.field }}" data-halign="center"
                        {% if col.field == 'y' or col.field == 'bag_id' %}data-switchable="false" {% endif %}>
                        <span>{{ col.title }}</span>
                        <hr>
                        <a class="chart" href="javascript:void(0)" title="Chart" data-toggle="modal"
                            data-target="#dataModal" data-url="{% url 'data-distribution' %}"
                            data-attr="{{ col.field }}">
                            <i class="fa fa-chart-bar"></i>
                        </a>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
        </table>
    </div>
    <div class="tab-pane fade" id="data-describe" role="tabpanel" aria-labelledby="describe-tab">
        <div id="toolbar-describe"></div>
        <table id='datatable-describe' data-toolbar="#toolbar-describe" data-search="true" data-show-refresh="true"
            data-show-toggle="true" data-show-fullscreen="true" data-show-export="true" data-minimum-count-columns="2"
            data-show-pagination-switch="true" data-pagination="true" data-id-field="id"
            data-page-list="[10, 25, 50, 100, all]" data-show-footer="true"></table>
    </div>
    <div class="tab-pane fade" id="data-reduction" role="tabpanel" aria-labelledby="reduction-tab">
        <div id="toolbar-reduction">
            <a id="visualize" class="btn btn-success" href="{% url 'data-visualization-dash' %}?use_reduction=true"
                data-toggle="tooltip" title="Click here to visualize the reduction table">
                <i class="glyphicon glyphicon-signal"></i> Visualize
            </a>
            <div class="form-group bag-simplification" id="algorithms_reduction">
                <label data-toggle="tooltip" title="This option allows reducting the number of instance in each bag">Bag
                    simplification</label><br>
                <div id="radioBtn" class="btn-group radio-btn">
                    {% for bs in reduction_form.bag_simplification.field.choices %}
                    <a class="btn btn-primary btn-sm {% if bs.0 == reduction_form.bag_simplification.value %}active{% else %}notActive{% endif %}"
                        data-toggle="bag_simplification_reduction" data-title="{{ bs.0 }}">
                        {{ bs.1 }}
                    </a>
                    {% endfor %}
                </div>
                <input type="hidden" name="bag_simplification" id="bag_simplification_reduction"
                    value="{{ reduction_form.bag_simplification.value }}">
            </div>
        </div>
        <table id='datatable-reduction' data-toolbar="#toolbar-reduction" data-search="true" data-show-refresh="true"
            data-show-toggle="true" data-show-fullscreen="true" data-show-columns="false" data-show-export="true"
            data-minimum-count-columns="2" data-show-pagination-switch="true" data-pagination="true" data-id-field="id"
            data-page-list="[10, 25, 50, 100, all]" data-show-footer="true"></table>
    </div>
</div>
{% endblock content %}