{% extends "base.html" %}

{% block custom_js %}
<script>
    $(function () {
        $('#page-top').addClass('bg-gradient-primary');
        $('#content').addClass('bg-gradient-primary');
    });
</script>
{% endblock custom_js %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="container">
    <p class="white-text">The purpose of this project is to propose a form of visualization for data sets of multiple
        instances (MI). For this,
        a series of steps have been created that allow loading a data set and transforming it using known reduction
        methods
        to finally obtain a representation of the data set in two graphs; a graph and a radar diagram.</p>
    <form method="post" class="user" enctype="multipart/form-data">{% csrf_token %}

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Select Dataset</h1>
                            </div>

                            <div class="form-group">
                                <select name="datasets" class="form-control">
                                    {% for dataset  in form.datasets  %} {{ dataset }} {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Upload File</h1>
                            </div>

                            {% comment %} <div class="form-group">
                                <input type="text" name="title" class="form-control form-control-user"
                                    placeholder="title">
                            </div> {% endcomment %}
                            <div class="form-group file-upload-style {% if form.file.errors %}has-error{% endif %}">
                                <input type="file" name="file" class="form-control-file form-control-user"
                                    placeholder="File">
                                <a href="#" data-toggle="tooltip"
                                    title="Remember the only extensions accepted are CSV and SVM."><i
                                        class="fas fa-question-circle fa-fw"></i></a>

                                {% if form.file.errors %}
                                {% for error in form.file.errors %}
                                <span class="help-block">{{ error|escape }}</span>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 offset-3">
                        <div class="p-5">
                            <input type="submit" class="btn btn-primary btn-user btn-block" value="Send">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}