<div>
    <div>
        <p>Select the characteristics you <b>DO NOT</b> want to be exported or part of the classification.</p>
    </div>
    <div>
        <p><a href="#" class="select-all-feature">Select All</a></p>
    </div>
    {% for feature in features %}
    <label class="checkbox-inline">
        <input type="checkbox" value="{{ feature }}" data-field="{{ feature }}"> {{ feature }}
    </label>
    {% endfor %}
</div>