<form id="reduction-form" method="post" data-url="{% url 'data-reduction' %}">{% csrf_token %}
    <div class="form-group">
        <label data-toggle="tooltip"
            title="Apply over the data some reduction method: TSNE, MDS, LLE, Isomap, FastICA, KPCA.">{{ reduction_form.reduction_method.label }}</label>
        <select name="reduction_method" class="form-control" id="id_reduction_method"
            {% if disabled %}disabled{% endif %}>
            {% for reduction_method  in reduction_form.reduction_method  %}
            {{ reduction_method }}
            {% endfor %}
        </select>
    </div>
    <div class="form-group" id="algorithms_reduction">
        <label data-toggle="tooltip"
            title="Can be a kernel or an algorithm, it depends for reduction method choose">Algorithms</label><br>
        <div id="radioBtnAlgorithm" class="btn-group radio-btn">
            {% for algorithm in reduction_form.algorithms.field.choices %}
            <a class="btn btn-primary btn-sm {% if algorithm.0 == reduction_form.algorithms.value %}active{% else %}notActive{% endif %} {% if disabled %}disabled{% endif %}"
                data-toggle="algorithms" data-title="{{ algorithm.0 }}">
                {{ algorithm.1 }}
            </a>
            {% endfor %}
        </div>
        <input type="hidden" name="algorithms" id="algorithms" value="{{ reduction_form.algorithms.value }}"
            class="{% if disabled %}disabled{% endif %}">
    </div>
    <div class="form-group">
        <label data-toggle="tooltip"
            title="Number of components in which the data will be reduced">{{ reduction_form.n_components.label }}</label>
        <br>
        <b>1</b>
        <input id="id_n_components" name="n_components" data-slider-id='id_n_componentsSlider' type="number" required
            data-slider-min="1" data-slider-max="{{ max_components }}" data-slider-step="1"
            data-slider-value="{{ reduction_form.n_components.value }}" {% if disabled %}data-slider-enabled="false"
            {% endif %} />
        <b>{{ max_components }}</b>
        <br>
        <span id="id_n_componentsSliderValLabel"><b>Current Value: </b><span
                id="id_n_componentsSliderVal">{{ reduction_form.n_components.value }}</span></span>
    </div>
    <div class="form-group">
        <label class="checkbox-inline checbox-switch switch-primary">
            <input type="checkbox" name="by_bag" {% if disabled %}disabled{% endif %}
                {% if reduction_form.by_bag.value %}checked{% endif %} />
            <span></span>
            <label data-toggle="tooltip" title="Allow do reduction only in bag-level instead of instance-level">By
                bag</label>
        </label>
    </div>
    {% if disabled %}
    <div class="form-group" id="algorithms_reduction">
        <label data-toggle="tooltip" title="This option allows reducting the number of instance in each bag">Bag
            simplification</label><br>
        <div id="radioBtn" class="btn-group radio-btn">
            {% for bs in reduction_form.bag_simplification.field.choices %}
            <a class="disabled btn btn-primary btn-sm {% if bs.0 == reduction_form.bag_simplification.value %}active{% else %}notActive{% endif %}"
                data-toggle="bag_simplification" data-title="{{ bs.0 }}">
                {{ bs.1 }}
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <input type="submit" class="btn btn-primary" value="Apply">
</form>